{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<h1>shite scanner</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">

<form>
  <div>
    <label for="uname">What's your budget boss? </label>
    <input type="text" id="ubdget" name="budget" required>
    <span class="validity"></span>
  </div>
  {{ form.location.errors }}
  <label for="id_name">Location</label>
  {{ form.location }}
  <div>
    <button>Find my vacation</button>
  </div>
</form>

{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">test</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
